
.el-image-viewer__canvas {
  // position: relative;
}

.el-video-viewer__canvas {
  position: static;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;  
}



.el-image-viewer__actions {
  padding: 0 25px !important;
  width: initial;

  &__inner {
    gap: 25px;
  }
}


.player {
  width: 100%;
  position: relative;
  max-width: 1000px;

  display: flex;
  align-items: center;
  // justify-content: space-around;
  gap: 25px;

  &__play {
    color: #fff;
    font-size: 22px;
    line-height: 0;
  }

  &__duration {
    width: 300px;
  }

  &__time-range {
    color: #fff;
  }

  &__volume {
    display: flex;
    align-items: center;
  
    &-icon {
      color: #fff;
      padding-right: 15px;
      font-size: 18px;
      line-height: 0;
    }

    &-slider {
      width: 100px;
    }
  }

  &__repeat {
    color: #fff;
    line-height: 0;
    font-size: 18px;
  }

  &__download {
    color: #fff;
    line-height: 0;
    font-size: 18px;
  }
}


.el-audio-viewer__actions,
.el-video-viewer__actions {
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  width: 282px;
  height: 44px;
  padding: 0 23px;
  background-color: var(--el-text-color-regular);
  border-color: #fff;
  border-radius: 22px;

  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: 0.8;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;   
}


.el-audio-viewer__visual {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}


.el-audio-viewer__actions,
.el-video-viewer__actions {
  height: 60px !important;
  border-radius: 60px !important;
}

.el-audio-viewer__actions,
.el-video-viewer__actions {
  width: auto !important;
}


.el-audio {
  display: flex;
  align-items: center;

  &__duration {
    .el-slider {
      width: 400px;
    }
  }

  &__play {
    line-height: 0;
    padding-right: 22px;
  }

  &__time-range {
    line-height: 0;
    padding-left: 22px;

    font-size: 13px;
  }

  &__volume {
    padding-left: 20px;
    line-height: 0;
    .el-slider {
      width: 80px;
    }    
  }

  &__repeat {
    line-height: 0;
    padding-left: 22px;
  }

  &__download {
    line-height: 0;
    padding-left: 20px;
  }

}