// Sidebar
.app-aside {
  width: 280px;
  background-color: #f4f6f9;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-shrink: 0;
  border-radius: 10px 0 0 10px;
  padding: 20px 0;

  &__upload {
    padding: 0 20px;
  }

  &__nav {
    flex-grow: 1;
    font-size: 1rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 8px 20px;

    &-link {
      color: #000;
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 10px;

      &:hover {
        background: #E4E7ED;
      }
    }
  }

  &__info {
    position: sticky;
    bottom: 0;
    padding: 0 20px 0px;

    &__details {
      &-category {
        padding-bottom: 15px;
      }
    }
  }
}

.n-collapse-item__header-main {
  justify-content: space-between;
  order: 1;
}

.n-collapse-item__header-extra {
  order: 0;
  margin-right: 8px;
  font-size: 16px;
}

.n-collapse-item__content-inner {
  .info-space__details-category {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .category-title {
      display: flex;
      align-items: center;
      font-size: 13px;

      span {
        margin-left: 5px;
      }
    }

    .category-summary {
      color: #909399;
      font-size: 10px;
    }
  }
}

.n-upload-file-info {
  
}

// Info space
.info-space {
  margin-top: 12px;
  display: block;
  color: #000;
  border-radius: 4px;

  border: 1px solid var(--vt-c-text-dark-2);

  padding: 16px 12px;

  &__collapse {
    border: none !important;

    .el-collapse-item__content {
      padding-bottom: 5px;
    }

    .el-collapse-item__wrap {
      border: none !important;
    }

    .el-collapse-item__header {
      border: none !important;
      line-height: 1 !important;
      height: 40px !important;
    }
  }

  &__header {
    padding-bottom: 10px;

    &-title {
      padding-left: 5px;
    }
  }

  &__footer {
    margin-top: 10px;
  }

  &__text {
    font-size: 13px;
  }

  &__details-category {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .category-title {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.indicator-bar {
  background-color: var(--vt-c-text-dark-2);
  position: relative;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;

  &__value {
    border-radius: 4px;
    position: relative;
    height: 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden;
    background-color: var(--color-success-1);
  }
}

.router-link-exact-active {
  background: #E4E7ED;
}