.el-button.default--overwrite {
  width: 100%;
  background: none;
  color: #606266;
  border-color: var(--el-border-color);

  &:hover,
  &:focus,
  &:active {
    border-color: #67C23A;
    color: #67C23A;
    background: none;
  }

  &:focus-visible {
    outline: 2px solid #67C23A;
  }

  img {
    color: #67C23A;
  }
}

.el-dropdown {
  .el-button:hover,
  .el-button:focus {
    border-color: #67c23a !important;
    color: #67c23a;
  }
}

.el-dropdown-menu__item:not(.is-disabled):focus {
  background-color: #f0f9eb !important;
  color: #67C23A !important;
}





// select drag zone styles
.rCS179bs95 {
  border: 1px solid hsla(160, 100%, 37%, 1) !important;
  background: hsla(160, 100%, 37%, 0.2) !important;
}