// Sidebar
.app-aside {
  width: 310px;
  background-color: #f4f6f9;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-shrink: 0;
  border-radius: 10px 0 0 10px;
  padding: 20px 0;

  &__upload {
    padding: 0 20px;
  }

  &__nav {
    flex-grow: 1;
    font-size: 1rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 8px 20px;

    &-link {
      color: #000;
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 10px;

      &:hover {
        background: #E4E7ED;
      }
    }
  }

  &__info {
    position: sticky;
    bottom: 0;
    padding: 0 20px 0px;
  }
}

// Info space
.info-space {
  margin-top: 12px;
  display: block;
  color: #000;
  border-radius: 4px;
  // background: linear-gradient(180deg,#42b883,#def1db);
  background: linear-gradient(180deg,#18a058,#def1db);
  // background: #18a058;
  padding: 16px 12px;

  &__footer {
    margin-top: 10px;
  }
}

.indicator-bar {
  background-color: rgba(0,0,0,.07);
  position: relative;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
  background: darken(#42b883, 8%);

  &__value {
    border-radius: 4px;
    background: #fff;
    position: relative;
    height: 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden;
    // background-color: #6c6;
  }
}

.router-link-exact-active {
  background: #E4E7ED;
}